* {
    box-sizing: border-box;
}
/* jumbotron  */
.jumbotron {
    display: flex;
    background-color: rgb(171, 109, 230);
    color:white;
    justify-content: center;
    font-size: x-large;
    max-width: 100vw;
    max-height: 100vh;

}
/* setting up css for containers for weather  */
.row .col {
    height: 200px;  
}
.row {
    width: 100%;
}
.weather-container {
    display:flex;
    flex-direction: column;
    background-color: rgb(97, 255, 255);
    padding: 10px;
    width: 50%;
    
}
.weather-day-container { 
    border: solid;
    border-width: 1px;
    width: 50%;
    width: auto;
    padding: 5px;
    
}
.overall-container {
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0; 
}
.week-weather-container {
    display:flex;
    justify-content: space-evenly;

}
/* setting up css for search container  */
.search-container { 
    border:solid;
    border-width:1px;
    margin: 0;
    padding: 0;
}
#quick-link-city {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
#quick-link-city li { 
    margin: 3px; 
    padding: 0.4em; 
    font-size: 1.4em; 
    background-color: lightgray;
    border-radius: 5px;
}

